button:focus {
  outline-style: none !important;
  box-shadow: none !important;
  border-color: transparent;
}

html,
body {
  background-color: #050505;
  margin: 0;
}

ul li {
  list-style: none;
}

a, a:visited{
 color: #FDCD56 !important;
}

p {
  margin: 0;
}